@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #202020;
    --color-primary-nav: white;
    --color-secondary: rgb(207, 207, 207);
    --color-highlighted: rgb(185, 194, 255);
    --color-highlighted-hover: rgb(130, 137, 179);
    --font-color-primary: rgb(255, 255, 255);
    --font-color-secondary: rgb(0, 0, 0);
    --font-color-highlighted: rgb(255, 255, 255);
}
.light-mode {
    --color-primary: rgb(207, 207, 207);
    --color-primary-nav: black;
    --color-secondary: #202020;
    --color-highlighted: rgb(80, 101, 240);
    --color-highlighted-hover: rgb(67, 82, 167);
    --font-color-primary: rgb(0, 0, 0);
    --font-color-secondary: rgb(255, 255, 255);
    --font-color-highlighted: rgb(0, 0, 0);
}

body {
    background: var(--color-primary);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    color: var(--font-color-primary);
}



.nav {
    &:not(.scrolled) {
        background: var(--color-primary-nav);
        padding: 0.5rem 1rem;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .nav__list {
            position: relative;
            display: flex;

            .nav__item {
                position: relative;
                margin: 0 10px;
                font-size: 1em;
                color: var(--font-color-secondary);
            }
            .nav__marker {
                position: absolute;
                height: 2px;
                bottom: -8px;
                width: 0;
                border-radius: 2px;
                background: var(--font-color-secondary);

                transition: 0.5s;
            }
        }
        .nav__logo img {
            box-shadow: 2px 24px 80px rgba(0, 0, 0, 0.25),
             10px 10px 80px rgba(0, 0, 0, 0.95),
             inset 7px 5px 10px rgba(255, 255, 255, 0.5),
             inset 10px 15px 20px rgba(0, 0, 0, 0.9),
             inset -10px -5px 15px rgba(0, 0, 0, 0.75),
             inset 10px 10px 10px rgba(0, 0, 0, 0.75);
        }
    }
    &.scrolled{
        .nav__logo {
            display: none;
        }
        .nav__list {
            background-color: var(--color-secondary);
            border-radius: 30px;
            position: fixed;
            left: 50%;
            bottom: 5%;
            transform: translateX(-50%);
            
            width: 25em;
            height: 5.5em;
        
            display: flex;
            justify-content: center;
            align-items: center;
            
            .nav__item {
                cursor: pointer;
                position: relative;
                list-style: none;
                width: 60px;
                margin: 0 5px;
        
                &__link{
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
        
                    &__text {
                        position: absolute;
                        font-size: 0.75em;
                        color: var(--font-color-secondary);
                        opacity: 0;
                        transition: 0.5s;
                    }
                    &__icon {
                        color: var(--font-color-secondary);
                        position: absolute;
                        font-size: 1.75em;
                        width: 80px;
                        height: 80px;
        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        transition: 0.5s;
                        transition-delay: 0s;
        
                        &::before {
                            content: '';
                            z-index: -1;
                            position: absolute;
                            inset: 10px;
                            background: var(--color-secondary);
                            border-radius: 50%;
                            box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.5),
                            inset 1px 1px 2px rgba(255, 255, 255, 0.25),
                            inset -2px -2px 5px rgba(0, 0, 0, 0.35);
        
                            transform: scale(0);
                            transition: 0.5s;
                        }
                    }
                }
                &.active{
                    &::before{
                        background: var(--color-highlighted);
                        box-shadow: 0 0 2px var(--color-primary),
                            0 0 7px var(--color-primary),
                            0 0 15px var(--color-primary),
                            0 0 23px var(--color-primary),
                            0 0 30px var(--color-primary);
                    }
                    .nav__item__link{
                        &__icon {
                            color: var(--font-color-secondary);
                            background: var(--color-highlighted);
                            transform: translateY(-3.5rem);
                            box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5),
                            inset 2px 2px 3px rgba(255, 255, 255, 0.25),
                            inset -3px -3px 5px rgba(0, 0, 0, 0.5);
                            transition-delay: 0s;
        
                            &::before {
                                transform: scale(1);
                            }
                        }
                        &__text {
                            opacity: 1;
                            transform: translateY(10px);
                        }
                    } 
                }
        
                &::before {
                    content: '';
                    position: absolute;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 5px;
                    height: 5px;
                    background: var(--color-secondary);
                    border-radius: 50%;
                    transition: 0.5s;
                }
            }
        }
    }

    .nav__btn {
        position: fixed;
        font-size: 1.45em;
        width: 60px;
        height: 60px;
        inset: auto 3rem 3rem auto;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        background: var(--color-highlighted);
        box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5),
            inset 2px 2px 3px rgba(255, 255, 255, 0.25),
            inset -3px -3px 5px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
        transition-delay: 0s;
        &__icon {
            color: var(--font-color-secondary);
        }
        &:hover {
            background-color: var(--color-highlighted-hover);
        }
    }
}


// STANDARD COMPONENTS
.no-select {
    -webkit-user-select:none;
    -webkit-touch-callout:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;   
  }